services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: btskillsdb
      MYSQL_ROOT_PASSWORD: password123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    depends_on:
      - db
    volumes:
      - .:/app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://root:SOIpHuYyjtkEqpHfzEAIScDDJrNsaOCr@hopper.proxy.rlwy.net:27800/railway
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: SOIpHuYyjtkEqpHfzEAIScDDJrNsaOCr

volumes:
  mysql_data:

#services:
#  db:
#    image: mysql:8
#    restart: always
#    environment:
#      MYSQL_DATABASE: btskillsdb
#      MYSQL_ROOT_PASSWORD: password123
#    ports:
#      - "3306:3306"
#    volumes:
#      - mysql_data:/var/lib/mysql
#
#  app:
#    build: .
#    depends_on:
#      - db
#    volumes:
#      - .:/app
#    ports:
#      - "8081:8081"
#    environment:
#      SPRING_DATASOURCE_URL: jdbc:mysql://db:3306/btskillsdb
#      SPRING_DATASOURCE_USERNAME: root
#      SPRING_DATASOURCE_PASSWORD: password123
#
#volumes:
#  mysql_data:
